* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 20px;
    background: #ffffff;
}

.container {
    display: flex;
    gap: 20px;
}

/* CỘT TRÁI */
.sidebar {
    width: 30%;
}

.sidebar h3 {
    margin-top: 20px;
}

.img-box {
    background: #999;
    color: #000;
    height: 80px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* CỘT PHẢI */
.content {
    width: 70%;
}

.top-text {
    margin-bottom: 20px;
}

h1 {
    margin: 10px 0;
}

.date {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.big-image {
    background: tải xuống.jpg;
    height: 200px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 15px;
}

.bold-text {
    font-weight: bold;
}
